import { cx } from 'emotion';
import React from 'react';
import { CommonProps } from '@contentful/f36-core';
import { styles } from './{{componentName}}.styles'

export interface {{componentName}}Props extends CommonProps {
  testId?: string;
  className?: string;
  children: React.ReactNode;
};

function {{componentName}}(props: {{componentName}}Props, ref: React.Ref<HTMLDivElement>) {
  return (
    <div
      data-test-id={props.testId}
      ref={ref}
      className={cx(
        styles.{{toCamelCase componentName}},
        props.className,
      )}
    >
      {props.children}
    </div>
  );
}

/**
 * TODO: Add description of component here.
 */
const _{{componentName}} = React.forwardRef({{componentName}});
export { _{{componentName}} as {{componentName~}} };
